* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: gunsan;
  src: url(../fonts/gunsan.woff2);
}

::selection{
  background-color: #ffffff;
  color: #ffffff;
}
   
html,
body{
  font-family: "Sharp Grotesk";
  background-color: rgb(99, 99, 99);
  overflow-x: hidden;
  color: white;
}
  
.loader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 89, 89);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  pointer-events: none;
  z-index: 999999999;
}
   
.loader-imgs{
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 50px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

#loader-logo img{
  width: 100%;
  object-fit: contain;
}
   
.img{
  position: relative;
  flex: 1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
   
.img img{
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.itemindex img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

   
.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 20vh; */
  /* top: 45%; */
  /* transform: translateY(-50%); */
  text-transform: uppercase;
}

.hero .h1 {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  font-family: gunsan;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  color: whit;
  z-index: 4;
}

.hero h1 {
  position: relative;
  font-weight: 400;
  line-height: 85%;
}

.bannerfooter {
  width: 100%;
  position: relative;
  display: flex;
  top: -80% !important;
  margin-top: -50vh;
  right: 5%;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.itemindex {
  width: 100px;
  height: 100px;
  /* z-index: 4 !important; */
}

.itemindex>img{
  position: relative;
  z-index: 4;
}